@import url(https://fonts.google.com/specimen/Poppins);

body {
    font-family: 'Poppins';
    background-image: url(http://1.bp.blogspot.com/_abDWWv59SfQ/TKKWtqqsX3I/AAAAAAAAAIk/mWqv8CEiZFM/s1600/geogarfai.jpg);
}

.intro h1{
    color: #36df33df;
    text-align: center;
    font-size: 50px;
    font-style:initial;
}

.bienvenida {
    background-color:antiquewhite;
    padding: 20px;
    border: 2px solid #666;
    text-align: center;

  
}
.bienvenida h1{
    color: blue;
}

.intro {
    padding: 30px;
    
}

.instrucciones{
    font-size:30px;
    color: rgb(4, 22, 54);
}

.boton{
    Background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.questions{
    display: none;
}

header{
    text-align: center;
    background: antiquewhite;
    border: 2px solid #666;
    padding: 10px 0;
    border-radius: 10px;

}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;

}

section{
    border: 2px solid #666;
    background: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}



button{
    width:20%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    border-radius: 20px;

}

button:hover{
    background: #000;
    color: #fff;
}

.ocultar{
    display:none;
}

.resultado{
    color:#000;
    color: white;
    text-align: center;
}